.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px !important;
    position: absolute !important;
    top: 5px !important;
    right: 18px !important;
    width: 20px !important;
  }

  .select2-container--default .select2-selection--single {
    background-color: #A230FF !important;
    border: 1px solid #e6e6e6 !important;
    border-radius: 20px !important;
    padding: 5px 18px !important;
  }

  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 42px !important;
    user-select: none;
    -webkit-user-select: none;
  }

  .select2-container {
    width: 100% !important;
  }

  #showswal {
    display: none;
  }

  .accept {
    padding: 0 20px;
    border: none;
    display: inline-flex;
    height: 51px;
    align-items: center;
    border-radius: 30px;
    background: #8dff30;
    cursor: pointer;
    position: relative;
    color: #333;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-weight: 400;
  }

  #coursetitle_block {
    display: none;
  }

  /* Hide HTML5 Up and Down arrows. */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }